.display {
  display: flex;
  flex-flow: wrap row;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Indie Flower", cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
hr {
  width: 85%;
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(17, 2, 105, 0.95);
}
#home-main-container {
  display: flex;
  flex-flow: wrap row;
}
#home-main-container .side-bar {
  background-color: #110269;
  width: 27%;
  color: white;
  height: 100%;
  position: sticky;
  top: 0;
}
#home-main-container .side-bar img {
  width: 65%;
  height: 200px;
  border-radius: 50%;
  margin: 1.5rem 5rem;
}
#home-main-container .side-bar h1,
#home-main-container .side-bar .position {
  text-align: center;
  margin-bottom: 1rem;
}
#home-main-container .side-bar .links-container {
  margin-top: 3.5rem;
}
#home-main-container .side-bar .links-container a {
  font-size: 2rem;
  text-decoration: none;
  display: block;
  color: white;
  margin: 1.5rem 0;
  margin-left: 2rem;
}
#home-main-container .side-bar .links-container #portfolio-link {
  margin-bottom: 6rem;
}
#home-main-container .side-bar .links-container #about-me-link {
  margin-bottom: 7rem;
}
#home-main-container .side-bar .fab {
  margin: 0 1.5rem;
  color: white;
  font-size: 2.5rem;
}
#home-main-container .side-bar .icons {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: -3rem;
}
#home-main-container .side-bar .icons p {
  font-size: 2rem;
}
#home-main-container .main-content-container {
  width: 73%;
  background-color: #c9c9c9;
}
#home-main-container .main-content-container h2 {
  margin-top: 3rem;
  text-align: center;
}
#home-main-container .main-content-container .skills-container {
  display: flex;
  flex-flow: wrap row;
  margin-bottom: 3rem;
  justify-content: center;
}
#home-main-container .main-content-container .skills-container .skill-card {
  width: 33%;
  border-right: #6a696b solid 2px;
  border-bottom: #6a696b solid 2px;
  margin: 3rem;
  margin-left: 1rem;
  text-align: center;
}
#home-main-container .main-content-container .skills-container .skill-card h3 {
  font-size: 3rem;
  text-align: center;
}
#home-main-container .main-content-container .skills-container .skill-card .fab,
#home-main-container .main-content-container .skills-container .skill-card .fas {
  font-size: 5rem;
  color: gray;
  opacity: 0.75;
  margin-top: 2rem;
}
#home-main-container .main-content-container .skills-container .skill-card p {
  text-align: center;
  margin: 0 2rem;
}
#home-main-container .project-section-container .project-cards-container {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
}
#home-main-container .project-section-container .project-cards-container .project-card {
  width: 45%;
  margin: 2rem;
}
#home-main-container .project-section-container .project-cards-container .project-card img {
  width: 85%;
  height: 200px;
}
#home-main-container .project-section-container .project-cards-container .project-card h3 {
  font-size: 2.5rem;
}
#home-main-container .contact-me-container {
  font-size: 2rem;
  width: 75%;
  height: 300px;
  background-color: lightgray;
  margin: 0 auto;
}
#home-main-container .contact-me-container li {
  margin-top: 3rem;
  text-align: center;
}
#home-main-container .contact-me-container a {
  color: #110269;
}
