#home-main-container{
    .display();

.side-bar{
    background-color:@main-color;
    width:27%;
    color:white;
    height:100%;
    position: sticky;
    top:0;


    img{
        width:65%;
        height: 200px;
        border-radius: 50%;
        margin:1.5rem 5rem;
    }
    h1,.position{
        text-align: center;
        margin-bottom:1rem;
    }

    .links-container{
        margin-top:3.5rem;
    
    a{
        font-size: 2rem;
        text-decoration: none;
        display:block;
        color:white;
        margin:1.5rem 0;
        margin-left:2rem;
    }
    #portfolio-link{
        margin-bottom:6rem;
    }
    #about-me-link{
        margin-bottom:7rem;
    }
    }

    .fab{
        margin:0 1.5rem;
        color:white;
        font-size: 2.5rem;
        
    }
    .icons{
        text-align: center;
        margin-bottom:1rem;
        margin-top:-3rem;


        p{
            font-size:2rem;
        }
    }
}


}